
body{
    background: rgb(57,48,212);
background: linear-gradient(90deg, rgba(57,48,212,1) 0%, rgba(7,6,96,1) 28%, rgba(9,9,121,1) 45%, rgba(0,212,255,1) 100%);
}

.primo{
    border: black 5px solid;
    margin: 20px;
    text-align: center;
    padding: 20px;
    padding-top: 5px;
    background-color: white;
}

h1{
    text-transform: uppercase;
}



.secondo{
    background-color: white;
    border: black 5px solid;
    margin: 20px;
    text-align: center;
    padding: 20px;
}

.nascosto{
    display: none;
}

.col-sm-12{
    background-color: red;
    border: 3px solid black;
}